<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <div class="cart-container">
      <p>← Volver</p>
      <h3 class="categoria-cart">Productos en tu Carrito</h3>

      <% if (productos) { productos.forEach(producto => { %>
      <article class="cart-product-flex">
        <div class="cart-descripcion-flex">
          <img
            src="/img/<%= producto.image %>"
            alt="<%=producto.title%>"
            class="product-img"
          />
          <span class="product-title"><%= producto.title %></span>
        </div>
        <div class="cart-botones-flex">
          <a class="boton" href="#">Quitar</a>
          <div class="cart-contador">
            <a class="cont-operador" href="#"> - </a>
            <span><%= producto.cantidad %></span>
            <a class="cont-operador" href="#"> + </a>
          </div>
          <span class="cart-puntos"><%= producto.price %></span>
        </div>
      </article>
      <% }) } %>

      <div class="cart-puntos-total">
        <span class="cart-descripcion">Total de Puntos SuperClub</span>
        <span class="cart-puntos">41.400</span>
      </div>
      <div class="button-pagar">
        <a class="boton" href="/checkout">Ir a Pagar</a>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
