<%# agregar includes include('pages/partials/back') %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main style="width: 75vw; margin: auto">
      <%# include("../partials/back") %>
      <div class="back-button">
        <a class="link">
          <i class="fas fa-arrow-left"></i>
          <p>Volver al listado</p>
          <% if (producto.categoria) { %>
          <i class="fas fa-chevron-right"></i>
          <%= producto.categoria %> <% } %>
        </a>
      </div>
      <div class="product-cardinfo">
        <div class="product-galery">
          <% (producto.imgs).forEach(img => { %>
          <div
            class="galery-item"
            style="background-image: url('<%= /img/+img %> ')"
          ></div>
          <% }) %>
        </div>
        <div class="product-image"></div>
        <div class="product-info">
          <h3 class="product-title"><%=producto.title%></h3>
          <div class="product-valor">
            <strong class="puntos"><%=producto.price%> </strong>
            <p>PUNTOS<br />SUPERCLUB</p>
          </div>
          <button class="btn-carrito">Agregar al Carrito</button>
          <div class="product-description">
            <% (producto.descripcion).forEach(parrafo => { %>
            <p><%= parrafo %></p>
            <% }) %>
          </div>
        </div>
      </div>
      <%- include("../partials/tepuedeinteresar") %> <%-
      include("../partials/navcat") %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
